/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	padding-bottom: 20px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
}
h1 .header {
	font-size: 200%;
	text-align: center;
}
.title {
	text-align: center;
	font-size: 200%;
	line-height: 100%;
	padding: 20px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 20px 20px 100px;
	width: 100%;
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	text-align: center;
	&:before {
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}
.content button {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

div.grid-view tr:hover td {
	background: gray;
	cursor: pointer;
}

div.grid-view th {
	text-align: center;
}

div.detail-view {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	width: 60%;
}

div.detail-view th {
	text-align: right;
	font-weight: bold;
}

div.detail-view td {
	white-space: normal;
}

div.add-form {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	width: 60%;	
}

div.add-form label {
	text-align: right;
	font-weight: bold;
}

div.right {
	float: right;
	padding-bottom: 20px;
}

div.left {
	float: left;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: 0 auto 0;
	min-width: 1000px;
	height: 30px;
	background: #BFF08E;
	position: relative;
}
/* From site.css
-----------------------------------------------------------------------------*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


